{% extends 'base.html' %}
{% block content %}
<div class="register-photo" style="background-color: #cccccc;">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="POST">
            {% csrf_token %}
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password_1" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password_2" placeholder="Password (repeat)">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
            </div><a class="already" href="{% url 'users:Login' %}">You already have an account? Login here.</a>
            {% if status_message %}
            <div role="alert" class="alert alert-danger text-center shadow"
                style="margin: 4px;padding: 0px;padding-left: 0px;"><button type="button" class="close"
                    data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button><span><strong>{{ status_message }}</strong></span></div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}